.c {
    font-family: 'Lato';
    text-align: center;
    font-size: 2em;
    margin: 1px;
    width: 400;
}

.c::after {
    content: '\00B0';
}

.n {
    font-family: 'Lato';
    width: 700;
    background-color: #4095b5;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    padding-top: 4px;
    color: white;
}

div {
    position: relative;
    display: inline-block;
}

div:hover {
    box-shadow: 0 5px 10px 0 slategrey;
}