.box
{
    position: relative;
    background-color: #cfcfcf;
    margin: 0 200px 0 200px;
    display: block;
    padding: 20px;
}
.box:before
{
    position:absolute;
    top: 0;
    left:-5%;
    bottom: 0;
    width:110%;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    content:"";
}
.box:after
{
    position:absolute;
    top: -30%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 160%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    content:"";
}
