.fb
{
    margin: 0;
    padding: 0;
    color: green;
    padding-left: 5px;
    padding-right: 5px;
    height: 2em;
}
.inps
{
    display: flex;
}
.sp
{
    margin: 0;
    padding: 0;
    text-indent: 0px;
    transition: text-indent 300ms;
    height: 2em;
    width: 10cm;
}
.sp:focus
{
    text-indent: 500px;
}
.sp:hover, button:hover{
    color:red;
}